<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
   <link rel="stylesheet" href="{% static 'eletivas.css' %}">
    <link rel="stylesheet" href="{% static 'header_eletiva.css'%}">
</head>
<body>
    <header class="topo">
        <div class="secondary-bar secondary-bar-top">
            <div class="parallelogram parallelogram-1"></div>
        </div>
        <div class="blue-1"></div>
        <div class="blue"></div>
        <div class="triangulo"></div>
        <div class="triangulo-2"></div>
        <h1 class="topo-asn">EEEFM ANTONIO DOS SANTOS NEVES</h1>
        <img class="logo" src="https://images.sympla.com.br/65087b3baa195-lg.png" alt="Logo">
        <div class="blue-2"></div>
        <div class="yellow-section">
            {% for links in link %}
            <button type="button" class="btn btn-outline-primary"><a href="{{links.link}}">{{links.title}}</a></button>
            <a href="{% url 'apagar_link_eletivas' links.id %}">Apagar</a>
            {% endfor %}
            <a class="inicio" href="{% url 'mais_sobre' %}"><i class="bi bi-chat-square-text"></i></i>Mais sobre</a>
            <a class="inicio" href="{% url 'home' %}"><i class="bi bi-house"></i>Inicio</a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="custom-footer bg-body-tertiary text-center text-lg-start">
        <div class="secondary-bar-rodape">
            <div class="parallelogram-rodape"></div>
        </div>
        <div class="blue-2-footer" ></div>
            <div class="blue-footer" ></div>
        <div class="yellow-section-footer"></div>
        <div class="footer-bar">
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="https://images.sympla.com.br/65087b3baa195-lg.png" alt="ASN Logo" style="width: 8%;" />
                </div>
                <div class="footer-social">
                    <a href="#"><i class="bi bi-instagram" id="instagram"></i></a>
                    <a href="#"><i class="bi bi-whatsapp" id="whatsapp"></i></a>
                </div>
                <div class="footer-info">
                    <p><strong>ANTONIO DOS SANTOS NEVES (ASN)</strong></p>
                    <p>Avenida Democrata - Centro</p>
                    <p>CEP: 29845-000 - Boa Esperança - ES</p>
                    <p>Tel: (27) 1234-5678</p>
                </div>
            </div>
        </div>
     </footer>
</body>
</html>