*{
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 880px) {
    .blue {
        top: 0;
        width: 100%;
        height: 20%;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
        display: flex;
        
    }
    .topo-asn{
        top: 9%;
       position: absolute;
       left: 10%;
       font-size: 1.1rem;
       flex-grow: 0;
    }
    .logo{
        position: absolute;
        left: 71%;
        width: 130px; /* Set the logo size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust this value to lower the image */

    }
    .yellow-section{
        width: 100%;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }
   
    .card-wrapper {
flex-direction: column;
align-items: center;
}

.slide-container{
    position: relative;
      margin-top: 40%; /* Adjust position to center vertically */
  }
     
          .blue-1,.blue-2, .secondary-bar, .triangulo, .triangulo-2{
              display: none;
          }
         
        }
      @media (max-width: 700px) {
         .slide-container {
             margin-top: 50%; /* Ajusta a margem superior para posicionar os cards mais para baixo */
         }
         .card-wrapper {
             gap: 10px; /* Ajusta o espaçamento entre os cards */
         }
         .card {
             width: 90%; /* Ajusta a largura dos cards para melhor visualização em telas menores */
         }
     }
      .slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 20%; /* Ajusta a margem superior para empurrar os cards para baixo */
  z-index: 1;
  font-family: Helvetica, sans-serif;
}




     .slide-content {
         margin: 0 40px;
         overflow: hidden;
         border-radius: 25px;
         font-family: Helvetica, sans-serif;
     }
     .card-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte se necessário */
  padding: 20px; /* Ajuste o espaçamento se necessário */
}




     .card {
         border-radius: 25px;
         background-color: #FFF;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         overflow: hidden;
         width: 300px;
         font-family: Helvetica, sans-serif;
     }
     .image-content,
     .card-content {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 10px 14px;
     }
     .image-content {
         position: relative;
         row-gap: 5px;
         padding: 25px 0;
     }
     .overlay {
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         background-color:#005bbb;
         border-radius: 25px 25px 0 25px;
     }
     .overlay::before,
     .overlay::after {
         content: '';
         position: absolute;
         right: 0;
         bottom: -40px;
         height: 40px;
         width: 40px;
         background-color: #4070F4#005bbb;
     }
     .overlay::after {
         border-radius: 0 25px 0 0;
         background-color: #FFF;
     }
     .card-image {
         position: relative;
         height: 150px;
         width: 150px;
         border-radius: 50%;
         background: #FFF;
         padding: 3px;
         z-index: 1;
     }
     .card-image .card-img {
         position: relative;
         height: 145px;
         width: 145px;
         object-fit: cover;
         border-radius: 50%;
         border: 4px solid #4070F4;
     }
     .name {
         font-size: 18px;
         font-weight: 500;
         color: #333;
         margin-top: 10px;
     }
     .sub-titulo {
         font-size: 16px;
         color: #707070;
         text-align: center;
         margin: 30px;
     }
     .button {
        text-decoration: none;
         border: none;
         font-size: 16px;
         color: #FFF;
         padding: 8px 16px;
         background-color: #4070F4;
         border-radius: 6px;
         margin: 14px;
         cursor: pointer;
         transition: all 0.3s ease;
     }
     .button:hover {
         background: #265DF2;
     }
     @media (max-width: 768px) {
         .card-wrapper {
             flex-direction: column;
             align-items: center;
         }
     }