footer {
    position: relative;
margin-top: 100px;
background-color: #fff;
color: black;
text-align: center;
position: relative;
padding: 20px 0; /* Ajusta o espaçamento interno do footer */
overflow: hidden; /* Garante que o conteúdo não vaze do footer */
}


.footer-container {
position: relative;
z-index: 1;

}
.yellow-section-footer {
background-color: #004AAD;
height: 15%;
width: 48%;
position: absolute;
top: 3%;
right: 0;
clip-path: polygon(100% 0%, 100% 100%, 6% 100%, 0% 0%);
display: flex;
align-items: center;
justify-content: flex-end; /* Alinha o conteúdo à direita */
padding: 0 1rem;
z-index: 1;
}
.blue-footer {
background-color: #1C69D1;
height: 19%;
width: 50%;
position: absolute;
top: 10%;
left: 46%;
transform: translateX(-50%);
clip-path: polygon(112% 3%, 115% 50%, 0% 439%, 36% -46%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}


.blue-2-footer {
background-color: #1C69D1;
height: 18%;
width: 38%;
position: absolute;
top: 28%;
left: 52%;
transform: translateX(-50%);
clip-path: polygon(100% 0%, 100% 100%, 9% 105%, 1.6% 0%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}
.footer-info{
    position: relative;
bottom: 25px;
gap: 20px;
margin: 15px;
}
.footer-social {
position: relative;
bottom: 25px;
gap: 20px;
margin: 15px;
}


.footer-social a {
color: black;
font-size: 24px;
}

#whatsapp a {
color: #fff;
font-size: 24px
}


#whatsapp:hover{
transition: color 0.3s ease;
color: rgb(149, 248, 82);
    transition: color 0.3s ease;


}


#instagram a {
color: #fff;
font-size: 24px

}


#instagram:hover{
transition: color 0.3s ease;
color: rgb(241, 136, 50);
}


.footer-logo {
   
position: relative;
top: -35px; /* Ajuste o valor conforme necessário */
margin-bottom: 10px; /* Espaçamento abaixo da imagem, ajuste conforme necessário */
}

.secondary-bar-rodape {
    background-color: #004AAD; /* Example background color */
    height: 50px; /* Example height */
    position: relative; /* Required for positioning child elements */
    width: 36%;
    z-index: 1;
  }
  
  .parallelogram-rodape {
    width: 120px; /* Example width */
    height: 73px; /* Example height */
    background-color: #004AAD; /* Example color */
    position: absolute; /* Allows for precise positioning */
    left: 90%; /* Example horizontal positioning */
    clip-path: polygon(62% -9%, 100% 100%, 48% 100%, 0% 0%);
    z-index: 2; /* Ensure this is above .blue */
  }


  @media (max-width: 880px) {
    footer {
    background-color: #004080;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.footer-social {
    position: relative;
    bottom: 10px;
    gap: 20px;
    margin: 5px;
}

.footer-social a {
    color: #fff;
    font-size: 24px;
}



#youtube a {
    color: #fff;
    font-size: 24px
}

#youtube:hover{
    transition: color 0.3s ease;
    color: rgb(241, 111, 111);
}

#twitter a {
    color: #fff;
    font-size: 24px
}

#twitter:hover{
    transition: color 0.3s ease;
    color: rgb(131, 178, 231);
}

#tiktok a {
    color: #fff;
    font-size: 24px
}

#tiktok:hover{
    transition: color 0.3s ease;
    color: rgb(149, 248, 82);
        transition: color 0.3s ease;

}

#instagram a {
    color: #fff;
    font-size: 24px
    
}

#instagram:hover{
    transition: color 0.3s ease;
    color: rgb(241, 136, 50);
}

.blue-2-footer, .blue-footer,.parallelogram-rodape, .secondary-bar-rodape{
    display: none;
}

}