
 @media (max-width: 880px) {
    .card-wrapper {
 flex-direction: column;
 align-items: center;
}

.main-slide {
 height: 90vh; /* Ensure full height */
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin: 0;
 box-sizing: border-box;
 position: absolute;
 top: 10%; /* Adjust position to center vertically */
}
.slide-container{
position: relative;
 top: 40%; /* Adjust position to center vertically */
}
 
     .blue-1,.blue-2, .secondary-bar, .triangulo, .triangulo-2{
         display: none;
     }
     
 }
 
/*                   SLIDE                 */


 .main-slide {
   background-color: #fff;
height: 90vh; /* Set height to 90% of the viewport height */
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0;
box-sizing: border-box;
position: absolute;
top: 30%;
}
.card-wrapper {
 position: relative;
 top: 9%;
 max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    z-index: 1;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#005bbb;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4#005bbb;
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
    z-index: 1;
}
.card-image .card-img {
    position: relative;
    height: 145px;
    width: 145px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
}
.sub-titulo {
    font-size: 16px;
    color: #707070;
    text-align: center;
    margin: 30px;
}
.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background: #265DF2;
}
.ver{
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    text-decoration: none; /* Remove o sublinhado */
    display: flex;
    align-items: center;
}