* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.header-noticia {
    width: 100%;
    height: 100vh;
    position: relative;
}

.blue-section {
    background-color: #005bbb;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.blue-section .topo-asn {
    color: #fff;
    font-size: 1.5rem; /* Adjust the font size as needed */
    text-align: center; /* Center text horizontally */
    flex-grow: 1; /* Allow text to grow and occupy available space */
}

.blue-section .logo {
    width: 130px; /* Set the logo size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust this value to lower the image */
}

.yellow-section {
    background-color: #ffd500;
    height: 8%;
    width: 62%;
    position: absolute;
top: 20%;
right: 0;
clip-path: polygon(100% 0%, 100% 100%, 7% 100%, 0% 0%);
display: flex;
align-items: center;
justify-content: flex-end; /* Alinha o conteúdo à direita */
padding: 0 1rem;
z-index: 1;
}
.inicio {
font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
color: #fff; /* Cor do texto */
text-decoration: none; /* Remove o sublinhado */
display: flex;
align-items: center;
}

.inicio i {
margin-right: 8px; /* Espaço entre o ícone e o texto */
width: 20px;
}

.inicio:hover {
color: #003d7a; /* Cor do texto ao passar o mouse */
}

.completa-noticia {
   width: 100%;
   margin: auto;
   position: absolute;
   top: 40%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.noticia {
   width: 50%;
   padding: 20px; /* Espaçamento interno para melhorar visualização */
   display: flex;
   flex-direction: column; /* Organiza os itens verticalmente */
}

.noticia .titulo {
   margin-bottom: 20px;
   font-size: 1.5rem; /* Tamanho do título */
   color: #333; /* Cor do texto */
}

.social-buttons {
   display: flex;
   align-items: center; /* Alinha verticalmente */
   margin-top: 20px; /* Espaçamento superior */
}

.social-buttons a {
   display: inline-flex;
   align-items: center;
   text-decoration: none;
   padding: 8px 12px;
   margin-right: 10px; /* Espaço entre os botões */
}

.social-buttons .fab {
   margin-right: 8px;
   font-size: 20px;
}

.data-buttons {
   display: flex;
   justify-content: space-between; /* Distribui os elementos lado a lado */
   align-items: center; /* Alinha verticalmente */
   margin-top: 20px; /* Espaçamento superior */
   margin-bottom: -20px; /* Espaçamento inferior */
}

.data-buttons .data {
   display: flex;
   align-items: center;
}

.data-buttons .social-buttons {
   display: flex;
   align-items: center;
}

.data-buttons .social-buttons a {
   margin-right: 10px; /* Espaço entre os botões */
}

.data-buttons .social-buttons .fab {
   font-size: 20px;
}
.data span {
   margin-left: 10px;
   font-size: 16px;
   color: #555;
}

.linha {
   width: 100%;
   margin: 20px 0;
   border-top: 1px solid #ccc;
}

.descricao-noticia {
   font-family: helvetica;
   text-align: justify;
   margin-bottom: 20px; /* Espaçamento inferior */
}

.img-noticia {
   max-width: 100%;
   height: auto;
   display: block;
   margin: auto;
   margin-top: 40px; /* Espaçamento superior */
   margin-bottom: 40px; /* Espaçamento inferior */
}

@media (max-width: 700px) {
   .noticia {
       width: 95%;
   }
   .yellow-section {
        width: 100%;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }
}